.spinner {
    display: inline-block;
}

.spinner-circle {
    border: 3px solid #E5E7EB;
    border-top-color: var(--generate-blue);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.spinner-small .spinner-circle {
    width: 20px;
    height: 20px;
    border-width: 2px;
}

.spinner-medium .spinner-circle{
    width: 40px;
    height: 40px;
}

.spinner-large .spinner-circle {
    width: 60px;
    height: 60px;
    border-width: 4px;
}

@keyframes spin {
    to {
        trasnform: rotate(360deg);
    }
}